.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  top: 100px;
  /* left: 50%; */
  height: 30rem;
  width: 20rem;
  background-color: #e06d06;
  border: 5px solid white;
  border-radius: 10px;
}

.card-a {
  background-color: #e06d06;
}

.card-b {
  background-color: #faff81;
}
